@import url("https://rsms.me/inter/inter.css");

:root {
  --bg-darker: #000;
  --bg: #181818;
  --bg-lighter: #333;
  --fg: #eee;
  --border-color: #444;
  --border: 1px solid var(--border-color);
  --shadow: #0007;
  --gap: 2px;
  --gap-big: 5px;
  --font: "InterVariable", sans-serif;
  --highlight: orange;

  --bg-button: #444;
  --bg-button-hover: #555;
}

input {
  color: var(--fg);
  border-radius: 5px;
  border-width: 1px;
  background-color: var(--bg-lighter);
  border: none;
}

.ui-container {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font);
}

.ui-array {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

.ui-is-being-dragged > :not(.drag-destination) {
  opacity: 0.5;
}

.ui-array-draggable > li {
  position: relative;
  padding-bottom: var(--gap);
}

.ui-array-draggable > li > .drag-source {
  display: flex;
  cursor: grab;
}

.ui-array-draggable .drag-destination {
  width: 100%;
  height: 0px;
}

.ui-array-draggable .ui-drag-dst {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.ui-array-draggable .drag-float {
  pointer-events: none;
}

.ui-drag-src {
  width: 20px;
  margin-right: var(--gap);

  background-image: radial-gradient(
    #555 0%,
    #555 10%,
    transparent 40%,
    transparent 100%
  );
  background-size: 20% 20%;
  background-position: center;
}

.ui-array-draggable .drag-active.drag-destination .ui-drag-dst {
  height: 100%;
  transform: translateY(-50%);
}

.ui-array-draggable .drag-active.drag-destination .ui-drag-dst:hover {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 40%,
    var(--highlight) 40%,
    var(--highlight) 60%,
    transparent 60%,
    transparent 100%
  );
}

.ui-object {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--gap-big);
}

.ui-object > input {
  justify-self: right;
}

.ui-container button {
  background-color: var(--bg-button);
  border: none;
  border-radius: 5px;
  color: var(--fg);
  cursor: pointer;
}

.ui-container button:hover {
  background-color: var(--bg-button-hover);
}

.ui-container button.selected {
  background-color: var(--highlight);
  color: black;
}

.enum-ui,
.button-set {
  display: flex;
}

:is(.enum-ui, .button-set) button {
  margin-right: var(--gap-big);
}
:is(.enum-ui, .button-set) button:nth-last-child(1) {
  margin-right: 0;
}

.button-set {
  margin-block: var(--gap-big);
}
